#nav-bar {
    /* position : fixed;
    top : 0; */
    width:60%;
    text-align:right;
  }
  
  .nav-link{
      color: red;
      padding:20px;
      text-decoration:none;
      font-size:20px;
  }
  
  #header {
    display:flex;
    flex-wrap: wrap;
    min-width:100%;
    position:fixed;
  }
  
  #header-img{
    width:40%;
  }
  
  @media (max-width:368px) { 
    #nav-bar {
      background-color:green;
    }
  }